html, body {
    min-height: 100%; 
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

aside {    
    background: none;
    min-height: 100px;
    height: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}

header {
    position: relative;
    top: inherit;
    left: inherit;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

article {
    position: relative;
    top: inherit;
    left: inherit;
    width: 80%;
    margin: 0px auto;
    padding: 20px;
}

h3 {
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

#filter-buttons {
    width: 85%;
    height: fit-content;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#filter-buttons div {
    display: inline;
    height: 20px;
    padding: 5px 0px;
    margin: 5px;
    border: 1px solid #4066a5;
    border-left: 4px solid #4066a5;
    border-radius: 5px;
}

button {
    position: inherit;
    right: inherit;
    top: inherit;
    height: inherit;
    width: inherit;
    background: inherit;
    border: inherit;
    padding: inherit;
    background: inherit;
}

button:hover {
    background-image: none;
}

.search-form {
    width: 90%;
    margin: 0px auto;
}

.order-by-container {
    width: 75px;
    position: absolute;
    top: 0;
    right: -100px;
}

.order-by-container .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #FFF;
    color: #4066a5;
    text-align: center;
    border: 1px solid #4066a5;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    top: -10px;
    left: 75px;
    z-index: 1;
  }
  
  .order-by-container:hover .tooltiptext {
    visibility: visible;
  }

.input-search {
    position: relative;
    width: fit-content;
    margin: 0px auto 20px auto;
}

.form-control {
    max-height: 40px;
    height: 10vw;
    max-width: 300px;
    width: 25vw;
    padding-left: 10px;
    margin: 0px auto;
    
    font-family: Arial;
    font-size: 16px;
    line-height: 28px;
    box-sizing: border-box;
}

.input-group-button {
    display: inline-block;
    width: 60px;
}

.search-button {
    box-sizing: border-box;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    color: #4066a5;
    border: 1px solid #4066a5;
    border-radius: 5px;
}

.search-button:hover, .search-button:focus {
    background-color: rgba(64, 102, 165, 0.2);    
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    cursor: pointer;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
}

thead th:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(4) {
    width: 10%;
}
    
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #E3E3E4;
}
    
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #E3E3E4;
}
    
.table tbody + tbody {
    border-top: 2px solid #E3E3E4;
}

.datetime {
    text-align: center;
}

.sorting-choice {
    position: relative;
}

.sorting-choice > label {
    padding: 5px 30%;
}

.sorting-by {
    display: inline-block;
    position: absolute;
    right: 20px;
}

.delete-form {
    text-align: center;
    margin: auto 0px;
}

.delete-button {
    border: 1px solid red;
    width: 75px;
    height: 30px;
    padding: 5px;
    margin: auto 5px;
    border: 1px solid #4066a5;
    border-radius: 5px;
}

.delete-button:hover {
    cursor: pointer;
    background-color: rgba(64, 102, 165, 0.2);    
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}
